@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  background: #f6f8fc;
  font-size: 1 rem;
  margin: 0;
  height: 100vh;
  box-sizing: border-box;
  color: #717274;
  font-size: 1rem;

  .error {
    font-size: 13px;
    color: #e17373;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;

    .header__left {
      min-width: 238px;
      display: flex;
      align-items: center;

      img {
        object-fit: contain;
        width: 109px;
        height: 40px;
        margin-left: 5px;
      }
    }
    .header__middle {
      display: flex;
      align-items: center;
      background: #eaf1fb;
      flex: 0.7 1 auto;
      display: flex;
      align-items: center;
      padding: 10px;
      border-radius: 5px;
      height: 48px;
      min-width: 565px;

      .MuiSvgIcon-root {
        color: #5f6368;
      }

      input {
        border: none;
        outline: none;
        padding: 10px;
        margin: 0px;
        height: auto;
        width: 100%;
        background: #eaf1fb;
        font-size: 16px;
      }
    }
    .header__right {
      display: flex;
      flex: 1;
      justify-content: flex-end;
      align-items: center;

      .MuiSvgIcon-root {
        color: #5f6368;
      }
      .avatar {
        flex: 0 0 auto;
        color: rgba(0, 0, 0, 0.54);
        padding: 12px;
        overflow: visible;
        font-size: 1.5rem;
        text-align: center;
        transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        border-radius: 50%;
        cursor: pointer;

        img {
          background-size: 32px 32px;
          border: 0;
          border-radius: 50%;
          display: block;
          margin: 0px;
          position: relative;
          height: 32px;
          width: 32px;
          z-index: 0;
          &:hover {
            box-shadow: 0 0 1px 5px rgb(0 0 0 / 15%);
          }
        }
      }
    }
  }

  .sideBar {
    padding-right: 0;
    max-width: 238px;
    min-width: 238px;
    color: #696a6c;
    padding-right: 20px;
    .sidebar_compose {
      box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.75);
      align-items: center;
      background-color: #c2e7ff;
      border-radius: 16px;
      color: #000;
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: inline-flex;
      font-weight: 600;
      height: 56px;
      min-width: 56px;
      overflow: hidden;
      padding: 15px;
      margin: 10px 15px;
    }
    .sideOption {
      display: flex;
      height: 32px;
      padding: 0 12px 0 26px;

      align-items: center;
      border-radius: 0 20px 20px 0;

      &.active {
        background: #d3e3fd;
      }

      &:hover {
        background: #e6e7e9;
        color: #1f1f1f;
        font-weight: 600;
      }

      .MuiSvgIcon-root {
        width: 38px;
        height: 20px;
        padding-right: 18px;
      }
    }
    .sideOptionExtended {
      flex: 1 1 0;
      line-height: 20px;
      display: flex;
      justify-content: space-around;
      width: 100%;
      justify-content: space-between;
    }
    .sidebar_footer {
      .sidebar_footer_icons {
        display: flex;
        justify-content: center;
      }
    }

    .label-section {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 0 12px 0 26px;
      .label-heading {
        font-size: 18px;
        font-weight: bold;
      }

      .create-label-button {
        background-color: #e6e7e9;
        border-radius: 50%;
        width: 34px;
        height: 34px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #e0e0e0;
        }

        &::before {
          content: "+";
          font-size: 18px;
          color: #333;
        }
      }
    }
  }

  .app_body {
    background: blue($color: #5a5cb8);
    // background-color: #f6f8fc;
    display: flex;
    height: 100vh;
  }
  .emailList {
    margin-right: 40px;
    flex: 1;
    border-radius: 20px;
    background: white;
    height: 90vh;

    .emailList_settings {
      position: sticky;
      padding: 10px 10px 0 10px;
      top: 0;
      display: flex;
      justify-content: space-between;
      background: white;
      z-index: 999;
      padding-right: 10px;
      border-radius: 20px 20px 0 0;

      .emailList_settingLeft {
      }
      .emailList_settingsRight {
        display: flex;
        justify-content: space-evenly;
      }
    }

    .emailList_sections {
      background: white;
      display: flex;
      position: sticky;
      top: 0;
      display: flex;
      border-bottom: 1px solid #ebeff9;
      .section {
        display: flex;
        align-items: center;
        border-bottom: 1px solid whitesmoke;
        background: white;
        z-index: 999;
        min-width: 200px;
        cursor: pointer;

        &:hover {
          background-color: rgba(68, 71, 70, 0.059);
        }
        &.selected {
          color: #0b57d0;
          border-bottom: 2px solid #0b57d0;
        }

        .MuiSvgIcon-root {
          margin: 0 16px;
        }
      }
    }

    .emailList_list {
      overflow-y: scroll;
      min-height: 503px;
      text-align: center;
      .emailRow {
        background: #f2f6fc;
        display: flex;
        align-items: center;
        height: 50px;
        border-bottom: 1px solid #ebeff9;
        cursor: pointer;
        z-index: 999;
        transition: box-shadow 0.3s;
        padding: 10px;
        background: #f2f6fc;
        color: #202124;

        &:hover {
          box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
        }

        .MuiSvgIcon-root {
        }

        .emailRow_message {
          display: flex;
          align-items: center;
          flex: 8;

          .emailRow_subject {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 0 5px;
            text-align: left;
            width: 50%;
          }

          .emailRow_description {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 0 5px;
            text-align: left;
            width: 100%;
            max-width: 400px;
          }
        }
        .time {
          flex: 1;
          text-align: right;
        }

        .emailRow_options {
          display: flex;
        }
        .emailRow_title {
          text-align: left;
          padding-left: 0;
          padding-right: 32px;
          text-align: left;
          flex: 3;
        }
      }
    }

    .emailList_footer {
      margin: 16px 0;
      padding: 0 16px;
      text-align: center;
      text-shadow: none;
      display: flex;
      justify-content: space-between;
      .activity,
      .used {
        font-size: 0.75rem;
        letter-spacing: normal;
        line-height: 20px;
      }
    }
  }
  .mail {
    background: white;
    width: 100%;
    height: 100vh;
    border-radius: 20px;
    .mail_tools {
      display: flex;
      justify-content: space-between;
      padding: 10px 10px 0 10px;
      .mail_tools_right {
        display: flex;
      }
      .mail_tools_left {
        display: flex;
        display: flex;
        width: 500px;
        justify-content: space-between;
        align-items: center;

        .vl {
          border-left: 1px solid #eceff1;
          height: 20px;
        }
      }
    }
    .mail_body {
      display: flex;
      flex-direction: column;
      margin: 30px;
      .mailbody_header {
        display: flex;
        justify-content: space-between;
        .mailHeader_right {
          display: flex;
          align-items: center;
        }
      }
      .mail_message {
        .mailMessage_header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .avatar {
            display: flex;
            align-items: center;
            width: auto;
            justify-content: flex-start;
            gap: 10px;
            img {
              width: 40px;
              height: 40px;
              border-radius: 50%;
            }
            p {
              font-size: 0.875rem;
              letter-spacing: normal;
              color: #1f1f1f;
              line-height: 20px;
            }
            .MuiSvgIcon-root {
              width: 40px;
              height: 40px;
            }
          }
          .icons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            p {
              font-size: 0.875rem;
            }
          }
        }
        p {
          padding: 40px;
        }
      }
    }
  }
  .sendMail {
    position: absolute;
    bottom: 0;
    right: 50px;
    background: white;
    width: 500px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.24);

    .sendMail_header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: #f2f6fc;
      padding: 13px;
      h3 {
        margin: 0;
      }
      .icons {
        cursor: pointer;
      }
    }

    form {
      display: flex;
      flex: 1;
      flex-direction: column;
      padding: 20px;
      min-height: 500px;
      input {
        border: none;
        outline: none;
        border-bottom: 1px solid whitesmoke;
        padding: 10px;
        height: 30px;
        position: relative;

        &.sendMail_message {
          flex: 1;
          &::placeholder {
            position: absolute;
            top: 5px;
          }
        }
      }
      textarea {
        width: 100%;
        height: 40vh;
        font-family: inherit;
        font-size: 13px;
        padding: 10px;
        border: none;
        overflow: auto;
        outline: none;
      }
    }
    .sendMail_options {
      justify-content: space-between;
      display: flex;
      .sendMail_send {
        border-radius: 18px;
        background-color: #0b57d0;
        padding: 6px 21px;
        color: white;
      }
    }
  }
  .login {
    background-color: #f2f2f2;
    display: grid;
    place-items: center;
    height: 100vh;
    .login-container {
      display: flex;
      flex-direction: column;
    }

    .login-container > img {
      object-fit: contain;
      height: 200px;
      background: transparent;
    }
  }
}
